.chessB{
display: block;
justify-content: space-around;
align-items: center;
margin-top: 0;
width: 80vw;
height: auto;
margin-left: 100px;
margin-top: 50px;
margin-bottom: 100px;
flex-wrap: wrap;

}
.home{
background-color: #34626c;
height: 100vh;

}
.heading{
text-align: center;
color: #fff;
padding-top:20px;
font-size: 1.2rem;

}


@media screen and ( max-width: 500px){

.chessB{
      display: flex;
      justify-content: center;
      align-items: center;
text-align: center;
margin-left: 19px;
margin-right: 16px;
      width: 90vw;
      height: auto;
      flex-wrap: wrap;

}


}
